/* #320A28  #511730 #8E443D #CB9173 #F6D9AE */
body {
    margin: 0;
    padding: 0;
    background-color: #320A28 ;
}
#head-container {
    display: grid;
    grid-template-columns: 10% 50% 40%;
    background-color: #503F6C;
    
    color: #F5BBC4;
}
#head-container a {
    grid-column: 1/2;
}
#head-img {
    display: flex;
}
#links-container {
    grid-column: 3/4;
    display: grid;
    grid-template-columns: auto auto auto auto;
}
a:link, a:visited {
    text-decoration: none;
    color: #F5BBC4;
}
a:hover {
    color: #320A28;
}

li{
    list-style-type: none;
}
#footer-container {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    text-align: center;
    background-color: #511730;
    color: #F5BBC4;
}