#contanier {
    width: 100%;
    height: 120vh;
    text-align: center;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    padding: 3em;
    box-sizing: border-box;
}
#resume {
    width: 100%;
    height: 100%;
    grid-column: 1/2;
    grid-row: 1/-1;
}
#contanier h1 {
    grid-column: 2/3;
    grid-row: 1/-1;
}