/* *, *:before, *:after {
      box-sizing: inherit;
}
.panels {
    display: flex;
    height: 90vh;
    flex-direction: column;
    overflow: hidden;
    animation: opened 3s;
    animation-fill-mode: forwards;
}
.panel {
    text-align: justify;
    transition:
        font-size 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
        flex 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
        background 0.2s;
    background-size: cover;
    background-position: center;
    flex: 1;
    display: flex;
    flex-direction: column;
}
p {
    margin-left: 24%;
    margin-right: 24%;
}
.panel1 {
    background-image: url("/static/image/edTemp1.png");
}
.panel2 {
    background-image: url("/static/image/edTemp2.png");
}
.panel3 {
    background-image: url("/static/image/edTemp3.png");
}
.panel > * {
    transition: transform 0.5s;
    flex: 0 0 auto;
    display: flex;
    justify-content: left;
    align-items: center;
}
.panel > *:first-child {
    font-size: 1.3em;
}

.panel >*:last-child {
    transform: translate(100%);
    
}


.panel.open-active > *:last-child {
    transform: translate(0%);
}
.panel div {
    text-transform: uppercase;
    font-size: 1.2em;
}
.panel.open {
    font-size: 1.2em;
    flex: 5;
}
.animationText {
    animation: appear 3s;
    animation-fill-mode: forwards;
}

@keyframes opened {
    from {height: 90vh;}
    to {height: 110vh;}
}
@keyframes appear {
    from {transform: translate(100%);}
    to {transform: translate(0%);}
} */
.college {
  font-size: 1.5em;
  font-weight: bold;
}
.parent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 8px;
}
.semester1 ul,
.semester2 ul {
  list-style-type: none;
}
.semester1,
.semester2 {
  background-color: rgb(20, 22, 26);
  padding-top: 1em;
  padding-bottom: 1em;
}
.semesterTitle {
  font-size: 1.2em;
  font-weight: bold;
  color: rgb(255, 255, 255);
}
button {
  width: 100%;
  margin-top: 0.5em;
}
#year3,
#year2,
#year1 {
  display: none;
}
.card {
  margin-left: 12em;
  margin-right: 12em;
  background-color: rgb(24, 27, 32);
}
