*, *:before, *:after {
      box-sizing: inherit;
}
.panels {
    display: flex;
    height: 550px;
    flex-direction: column;
    overflow: hidden;
}
.panel {
    text-align: left;
    transition:
        font-size 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
        flex 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
        background 0.2s;
    background-size: cover;
    background-position: center;
    flex: 1;
    display: flex;
    flex-direction: column;
}
p {
    margin-left: 24%;
}
.panel1 {
    background-image: url("/static/image/edTemp1.png");
}
.panel2 {
    background-image: url("/static/image/edTemp2.png");
}
.panel3 {
    background-image: url("/static/image/edTemp3.png");
}
.panel > * {
    transition: transform 0.5s;
    flex: 1 0 auto;
    display: flex;
    justify-content: left;
    align-items: center;
}
.panel > *:first-child {
    font-size: 1.3em;
}

.panel >*:last-child {
    transform: translate(100%);
}
.panel.open-active > *:last-child {
    transform: translate(0%);
}
.panel div {
    text-transform: uppercase;
    font-size: 1.2em;
}
.panel.open {
    font-size: 1.2em;
    flex: 5;
}