#header-index {
    display: grid;
    height: 550px;
    grid-template-columns: 19% 19% 19% 19% 19% 5%;
    grid-template-rows: 11% 22% 24% 22% 11% 10%;
}
#image-continer {
    grid-column: 1/7;
    grid-row: 1/6;
}
#heroImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    box-shadow: 0 5px 5px #00000080;
}
#heroText {
    grid-column: 4/6;
    grid-row: 2/5;
    background-color: #00000080;
    color: aliceblue;
    border-radius: 5%;
}
#heroText h1 {
    margin: 1em;
    text-align: right;
}
#quote {
    color: aliceblue;
    grid-column: 1/6;
    grid-row: 6/7;
}