{% extends 'base.html' %}

{% block head %}
<title> CV </title>
<!--<link rel="stylesheet" href="{{ url_for('static', filename='css/cv.css') }}">-->
{% endblock %}

{% block body %}
<div id="contanier" class="columns mt-6 ml-3">
    <aside id="contacts" class="menu">
        <p class="menu-label">Contact Information</p>
            <ul class="menu-list">
                <li>
                    <a href="https://www.linkedin.com/in/raven-wilson-a439b9398/">LinkedIn</a>
                </li>
                <li>
                    <a href="https://github.com/Raven-Wilson">GitHub</a>
                </li>
                <li>
                    <a href="mailto:18r.m.wilson@gmail.com">Personal Email</a>
                </li>
                <li>
                    <a href="mailto:K00321719@student.tus.ie">College Email</a>
                </li>
            </ul>
    </aside>
    <div class="column is-half m-6">
        <iframe class="image is-3by4" id="resume" src="{{ url_for('static', filename='pdf/CV.pdf') }}"></iframe>
    </div>
</div>

{% endblock %}


