{% extends 'base.html' %}

{% block head %}
<title> Education </title>
<!--<link rel="stylesheet" href="{{ url_for('static', filename='css/education.css') }}">-->
{% endblock %}

{% block body %}
    <div class="hero is-small mt-4 ml-6">
        <div class="hero-body">
            <h1 class="title has-text-info-light">Education</h1>
        </div>
    </div>
    <div class="card m-6">
        <div class="card-content">
            <div class="card-header">
                <p class="is-size-5 has-text-info">Technological University of the Shannon</p>
            </div>
            <div class="content">
                <p>Course: Software Development <br> 
                GPA: 73% <br> <br> <hr>
                Modules: <br>
                Year 2- <br>
                Semester 2: Applications Development, Real Time Embedded Systems, Problem-Solving with Data Structures and Algorithms,
                Data Driven Systems, Software Testing, Public Cloud Foundations <br>
                Semester 1: Object Oriented Theory and Programming, Software Development, Discrete Mathematics, Fundamentals of Data 
                Structures and Algorithms, Data Design and Programming, Networking Fundamentals<br>
                Year 1- <br>
                Semester 2: Introduction to Object Oriented Programming, Mathematical Methods, Operating System Fundamentals, Structured Programming,
                Responsive Design and Web Development, Structured Query Language Essentials <br>
                Semester 1: Introduction To Programming, Computer Mathematics, Interpersonal Skills, Web Development Fundamentals, 
                Computer Organisation and Arc, Data Essentials
            </p>
            </div>
        </div>
    </div>
    <div class="card m-6">
        <div class="card-content">
            <div class="card-header">
                <p class="is-size-5 has-text-info">Limerick College of Further Education</p>
            </div>
            <div class="content">
                <p>Course: Software Development <br> 
                Grade: Distinction <br> <br><hr>
                Modules: Web Authoring, Database Methods, Maths for IT,
                Communications, Fundementals of OPP, Software Architecture</p>
            </div>
        </div>
    </div>
    <div class="card m-6">
        <div class="card-content">
            <div class="card-header">
                <p class="is-size-5 has-text-info">St. Patricks Comprehensive School</p>
            </div>
            <div class="content">
                <p>Points: 379 <br> <br><hr>
                Classes: Business Studies, LCVP, History, Art, French, English, Maths, Irish <br>
                Extra-Curricular Activities: School Musical, Women in STEM, Christmas Crafts for the Elderly
            </p>
            </div>
        </div>
    </div>

    <script>
        /*
        const panels = document.querySelectorAll(".panel");
        function toggleOpen() {
            this.classList.toggle("open");
        };
        function toggleActive(e) {
            if(e.propertyName.includes("flex")) {
                this.classList.toggle("open-active");
            };
        };
        panels.forEach(panel => panel.addEventListener("mouseover", toggleOpen));
        panels.forEach(panel => panel.addEventListener("mouseout", toggleOpen));
        panels.forEach(panel => panel.addEventListener("transitionend", toggleActive));
        */
        const panels = document.querySelectorAll(".panel");
        /*const last = panels[panels.length - 1];
        console.log(last);
        */
        function open() {
            this.classList.add("animationText");
        }
        const parent = panels.forEach(panel => panel.length-1);
        console.log(parent);
    </script>
{% endblock %}