{% extends 'base.html' %}

{% block head %}
<title> Projects </title>

{% endblock %}

{% block body %}
<div id="body-container" class="content container fixed-grid has-3-cols-desktop has-2-cols-tablet has-1-cols-mobile ">
    <div id="text" class="m-6 grid ">
        <div class="cell is-col-span-3-desktop is-col-span-2-tablet">
            <h1>Projects and Experience</h1>
        </div>
        <div class="cell">
            <h3>Portfolio Website</h3>
            <p>I built this website using Flask to create my templates, it was my frist time properly using python so it was a bit of a learning curve but I really
                enjoyed it. I started out writing all the CSS myself but my STEM Aspire mentor reccomended I try using bulma CSS framework for the styling
                so I switched over, I'm really happy to be getting more experience with frameworks.
            </p>
        </div>
        <div class="cell">
            <h3>JavaScript 30</h3>
            <p>30 day JavaScript challege where you follow tutorials each day and code along to gain more experience with JS. I really enjoyed getting to work on new small projects
                each day and it really showed me the versatility of what you can do with JS.
            </p>
        </div>
        <div class="cell">
            <h3>Dell STEM Aspire</h3>
            <p>Mentorship program where second year students are paired with a mentor in industry to guide us and give advice .</p>
        </div>
        <div class="cell">
            <h3>Technovation Women in STEM</h3>
            <p>During secondary school, I participated in a technology entrepreneurship program that focused on introducing girls to the field of tech.
                We were put into teams of 4 with other girls in our year, where we would meet weekly to create an app prototype and business plan based on real-world issues.
                Our app idea was a platform where women could rate accomadation experience based on how safe they felt there. 
                We had to design our app both on paper and using canva, where we then would be given advice on how to structure it in a user friendly way that wasn't visually overwhelming.
                We used MIT app inventor to create our app, so we weren't coding in the traditional sense but it did provide us a lot of knowledge on the concepts involved with building an app.
                I worked more on the front-end app set-up and some of the back-end drag and drop elements. We got to demonstrate it and pitch the idea in the Microsoft office in Dublin.
            </p>
        </div>
    </div>
</div>

{% endblock %}