{% extends 'base.html' %}

{% block head %}
<!--<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">-->
<title> Home </title>
{% endblock %}

{% block body %}
<section id="header-index" class="hero is-link is-medium">
    <!--
    <div id="image-continer">
    </div>
    -->
    <div id="heroText" class="hero-body">
        <p class="title"> Raven Wilson </p>
        <p class="subtitle">Student Software Developer</p>
    </div>
    
</section>
<div class="hero is-link is-small">
        <h2 class="hero-body subtitle"> Hi! Thank you for visiting my page </h2>
    </div>
<div id="body-container" class="content container">
    <div id="text" class="m-6">
        <h2>About Me</h2>
        <p>I am currently studying Software Development at TUS. I fell in love with coding after partaking in a Women in STEM
            program by Technovation in secondary school, where we would be guided on how to make our own app. I've always loved art so finding a new 
            interest where I could express my creativity while being able to make something practical immediately let me know this was the career path for me.
        </p>
        <p>
            My goal is to be a full stack developer when I'm finished college. I love the design elements of UX and the idea of being able to create an
            intricate backend along side it. I also want to be full stack because I like the idea of being able transition and work with different 
            teams, whether they work with front or backend, within the company I work for in the future.
        </p>
    </div>
    <!--
    <div  id="left-corner">
        <img class="corner-img" src="{{ url_for('static', filename='image/cornerDecoration.png') }}">
    </div>
    <div id="right-corner">
        <img class="corner-img" src="{{ url_for('static', filename='image/cornerDecoration.png') }}">
    </div>
    -->
</div>
{% endblock %}